<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <h3>Editing product: {{ product.id }}-{{ product.name }}</h3>

    {%- for category, message in get_flashed_messages(with_categories = true) %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {%- endfor %}
    </p>

    <form action="{{ request.path }}" method="post">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Name" value="{{ product.name }}"/><br>
        <label for="price">Price</label><br>
        <input type="text" name="price" placeholder="0" value="{{ product.price }}"/><br>
        <label for="amount">Amount</label><br>
        <input type="number" name="amount" placeholder="0" value="{{ product.amount }}"/><br>
        <label for="comment">Comment</label><br>
        <textarea name="comment" placeholder="product comment">{{ product.comment }}</textarea><br>
        <input type="submit" value="Save"/>
    </form>
</body>
</html>