{% extends "base.html" %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <h1>Home page.</h1>
    <a href="{% url 'add_customer' %}">Add new customer</a></p>
    {% if customers %}
        <table>
            <thead>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.firstname }}</td>
                        <td>{{ customer.lastname }}</td>
                        <td>{{ customer.age }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}