<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:;base64,=">
    {% block style %}{% endblock %}
</head>
<body>

<h1>PROJECT 2</h1>
<details>
<summary>details</summary>
<p>Реализовать ToDo список, который позволяет следующее:<br>
 - просматривать текущие записи в списке;<br>
 - добавлять запись в список;<br>
 - править запись;<br>
 - удалять запись;<br>
 - перемещать запись на уровень выше, ниже;<br>
 - отмечать задачу как сделанную.</p>
<p>В рамках выполнения задания обязательно наличие минимум 3 тестов (добавление, удаление, обновление).</p>
<p>*Дополнительное задание 1<br>
Добавить возможность выбора приоритета с соответствующим отображением в виде цвета в списке (пример: задачи с высоким приоритетом - красные, средним - желтым, низким - зеленым).</p>
<p>**Дополнительное задание 2<br>
Добавить возможность фильтрации заданий по приоритетам.</p>
</details><hr>

{% block body %}{% endblock %}
</body>
</html>



