<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:;base64,=">
    {% block style %}{% endblock %}
</head>
<body>

<h1>PROJECT 1</h1>
<details>
<summary>details</summary>
<p>Создать сокращалку ссылок наподобие https://bitly.com/<br>
Примеры сокращенных ссылок:<br>
127.0.0.1:8000/ab17k<br>
127.0.0.1:8000/55781</p>
<p>Что должно быть:<br>
1) форма для сокращения ссылки;<br>
2) список сокращенных ссылок.</p>
<p>Список должен включать следующие поля:<br>
 - оригинальную ссылку;<br>
 - сокращенную ссылку;<br>
 - дату добавления ссылки;<br>
 - количество кликов по сокращенной ссылке.</p>
<p>Нажатие на сокращенную ссылку должно приводить к перенаправлению на оригинальную ссылку.<br>
Форма сокращения ссылки должна находиться сразу на главной странице (http://127.0.0.1:8000/) и отображаться при отсутствии GET параметров.</p>
<p>*Дополнительное задание 1<br>
Реализовать возможность самостоятельного ввода сокращенной ссылки. Добавить валидацию при попытке повторного использования уже используемой сокращенной ссылки.</p>
<p>**Дополнительное задание 2<br>
Покрыть тестами все view.</p>
</details><hr>

{% block body %}{% endblock %}
</body>
</html>



