{% extends "base.html" %}

{% block title %}
    Work 25
{% endblock %}

{% block content %}
    <form action={% url 'get_image' %} method="post">
        {% csrf_token %}
        <input type="submit" value="I love cats!" name="button">
        <input type="submit" value="I love dogs!" name="button">
    </form>

    <form action={% url 'filter_images' %} method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search" name="button">
    </form>
{% endblock %}